/output
/output/test
/output/release
/Util.Samples.Webs/bin
/Util.Samples.Webs/obj
/Util.Samples.Services/bin
/Util.Samples.Services/obj
/template
/src/Util.Events/obj
/src/Util.Datas/obj
/src/Util/obj
/src/Util.Applications/obj
/src/Util.Biz/obj
/src/Util.Biz.Payments/obj
/src/Util.Datas/obj/Debug
/src/Util.Datas/obj/05-Util.Datas.csproj.nuget.cache
/src/Util.Datas/obj/05-Util.Datas.csproj.nuget.g.props
/src/Util.Datas/obj/05-Util.Datas.csproj.nuget.g.targets
/src/Util.Datas/obj/project.assets.json
/src/Util.Logs/obj
/src/Util.Security/obj
/src/Util.Tools.QrCode/obj
/src/Util.Tools.Sms/obj
/src/Util.Ui.Abstractions/obj
